<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>All Admins</title>
  <link rel="stylesheet" href="/style/admin.css">
  <script src="/script/script.js" defer></script>
</head>

<body>

  <!-- HEADER -->
  <header class="header">
    <h1 class="page-title">Admin Dashboard</h1>
    <nav class="header-nav">
      <button onclick="location.href='/stcolumbus/admin/manage/logout'" class="head-btn">Logout</button>
      <button onclick="location.href='/stcolumbus/admin/manage/change/pass'" class="head-btn">Change Pass</button>
      <% if(supAd){ %>
        <button onclick="location.href='/stcolumbus/admin/manage/signup'" class="head-btn">Create New Admin</button>
        <% } %>
    </nav>
  </header>

  <main>
    <!-- FIRST SECTION -->
    <section class="first-section">
      <h2>Admins Accounts</h2>
      <div class="card-container">
        <% if (!data && data.length <=0) { %>
          <p>No admins found.</p>
          <% } else { %>
            <% data.forEach(admin=> { %>
              <div class="admin-card">
                <img src="<%= admin.img %>" alt="<%= admin.name %>'s avatar" />
                <div class="admin-details">
                  <p><strong>Name:</strong>
                    <%= admin.name %>
                  </p>
                  <p><strong>Email:</strong>
                    <%= admin.email %>
                  </p>
                  <p><strong>Unique ID:</strong>
                    <%= admin.uniqId %>
                  </p>
                  <p><strong>Role :</strong>
                    <%= admin.role.toUpperCase() %>
                  </p>
                  <p><strong>Blocked:</strong>
                    <%= admin.blocked ? "Yes" : "No" %>
                  </p>
                  <p><strong>Last Login:</strong>
                    <%= admin.lastLogin %>
                  </p>
                </div>
                <div class="btns">
                  <% if(supAd) {%>
                    <% if(admin.role=="superadmin" ){%>
                      <button type="submit"
                        onclick="location.href='/stcolumbus/jaj/ekdara/admin/update/img/<%= admin._id %>'"
                        class="link-btn">Update Img</button>
                      <button type="submit"
                        onclick="location.href='/stcolumbus/jaj/ekdara/admin/update/det/<%= admin._id %>'"
                        class="link-btn">Update Details</button>
                      <% } %>
                        <% if(admsc>1&& admin.role!="superadmin") {%>
                          <button type="submit"
                            onclick="location.href='/stcolumbus/jaj/ekdara/admin/delete/<%= admin._id %>'"
                            class="link-btn">Delete Admin</button>
                          <button type="submit"
                            onclick="location.href='/stcolumbus/jaj/ekdara/admin/update/det/superadmin/<%= admin._id %>'"
                            class="link-btn">Update Access Control Or Block Admin</button>
                          <% }else if(superAdminCount>1){%>
                            <button type="submit"
                              onclick="location.href='/stcolumbus/jaj/ekdara/admin/delete/<%= admin._id %>'"
                              class="link-btn">Delete Admin</button>
                            <button type="submit"
                              onclick="location.href='/stcolumbus/jaj/ekdara/admin/update/det/superadmin/<%= admin._id %>'"
                              class="link-btn">Update Access Control Or Block Admin</button>
                            <%} %>
                              <% }else{%>
                                <button type="submit"
                                  onclick="location.href='/stcolumbus/jaj/ekdara/admin/update/img/<%= admin._id %>'"
                                  class="link-btn">Update Img</button>
                                <button type="submit"
                                  onclick="location.href='/stcolumbus/jaj/ekdara/admin/update/det/<%= admin._id %>'"
                                  class="link-btn">Update Details</button>
                                <%} %>
                </div>
              </div>
              <% }) %>
                <% } %>
      </div>
    </section>

    <!-- SECOND SECTION -->
    <section class="second-section" id="admin">
      <h2>Principal & Director Information</h2>
      <div class="director-principle-container">
        <% if (typeof admins !=='undefined' && admins && admins.length> 0) {
          %> <% admins.forEach(admin=> { %>
            <ul>
              <li class="school-heads">
                <img src="<%= admin.img %>" alt="<%= admin.name %>" />
              </li>
              <div class="inner-dir-and-principle">
                <li><strong>Name: </strong>
                  <%= admin.name %>
                </li>
                <li><strong>Id No: </strong>
                  <%= admin.unqId %>
                </li>
                <li><strong>Email: </strong>
                  <%= admin.email %>
                </li>
                <li><strong>Position: </strong>
                  <%= admin.position %>
                </li>
                <li><strong>Qualification: </strong>
                  <%= admin.quli %>
                </li>
                <li><strong>Age: </strong>
                  <%= admin.age %>
                </li>
                <li><strong>Gender: </strong>
                  <%= admin.gender %>
                </li>
              </div>
              <div class="updated-head-image">
                <%if(!supAd){%>
                  <a href="/home/adminUpdate/<%=admin._id %>">Update Img</a>
                  <a href="/home/adminUpdate/details/<%=admin._id %>">details</a>
                  <%} %>
              </div>
            </ul>
            <% }); %>
              <% } else { %>
                <!-- You can add a message here if admins is not defined or empty -->
                <p>No admins found or admins data is not available.</p>
                <% } %>
      </div>
    </section>

    <!-- THIRD SECTION -->
    <section class="gallery-section">
      <div class="gallery-header">
        <h2>Gallery Section Images</h2>
        <% if (!supAd) { %>
          <a class="btn new-event" href="/home/gallery/new">+ Set a new Event</a>
          <% } %>
          
            <div class="event">
              <% images.forEach(eventGroup=> { %>
                <!-- eventGroup = one event date with titles inside -->
                <h1>
                  <%= eventGroup[0][0].EventDate %>
                </h1>
                <div class="datesect" >
                <% eventGroup.forEach(titleGroup=> { %>
                    <!-- titleGroup = one title group inside this event date -->
                    <h3>
                      <%= titleGroup[0].title %>
                    </h3>
                    <div class="images" >
                      <% titleGroup.forEach(item=> { %>
                        <div class="img">
                          <img src="<%= item.img %>" alt="<%= item.title %>">
                          <% if (!supAd) { %>
                            <a class="btn" href="/home/galleryUpdate/<%= item._id %>">Update Img</a>
                            <a class="btn" href="/home/galleryUpdate/details/<%= item._id %>">Update details</a>
                            <% if (titleGroup.length> 3) { %>
                              <a class="btn delete" href="/home/galleryDelete/<%= item._id %>">Delete</a>
                            <% } %>
                        </div>
                        <% } %>
                          <% }) %>
                            <% if (!supAd) { %>
                              <a class="btn new-event" href="/home/gallery/new?date=<%= eventGroup[0][0].EventDate%>&title=<%= titleGroup[0].title %>">+Add Image</a>
                            <% } %>
                    </div>
                    <% }) %>
                </div>
                <% }) %>
            </div>


    </section>



  </main>


  <!-- 
    <div
      class="notice-web-section"
      id="notice"
      style="border-bottom: 1px solid"
    >
      <h1 style="font-size: 20px; color: teal">Notices Details for WebPage</h1>
      <%if(!supAd){%>
      <a href="/home/notice/new">New Notice</a>

      <% } %>
      <main>
        <% notices.forEach(notice => { %>
        <div
          class="card"
          style="
            border: 1px solid black;
            margin: 10px;
            width: 300px;
            padding: 5px;
            background-color: tomato;
          "
        >
          <p><%= notice.messDate %></p>
          <span> Subject: </span> <span><%=notice.title %></span><br />
          <span> Notice: </span> <span><%=notice.mess %></span><br />
          <span>Id:</span><span><%= notice._id %></span><br />

          <%if(!supAd){%>

          <a href="/home/noticeUpdate/details/<%=notice._id %>"
            >Update details</a
          >
          <a href="/home/noticeDelete/<%=notice._id %>">Delete</a>
          <% } %> <%if(notice.img) { const regex=/.\.pdf$/i;
          if(!regex.test(notice.img)){ %>
          <img
            style="width: 200px"
            src="<%= notice.img%>"
            alt="<%= notice.title%>"
          />
          <br />
          <a href="<%= notice.img  %>">DowunLoad</a> <br />

          <%if(!supAd){%>

          <a href="/home/noticeUpdate/<%=notice._id %>">
            <% if(notice.img){%>Update Image <%} else {%> Add Image | PDF<%}
            %></a
          >
          <% } %> <% }else{ %>
          <iframe
            style="width: 100%; overflow: hidden; object-fit: cover"
            src="<%= notice.img %>"
            frameborder="0"
          ></iframe
          ><br />
          <a href="<%= notice.img  %>">DowunLoad</a> <br />

          <%if(!supAd){%>

          <a href="/home/noticeUpdate/<%=notice._id %>">
            <% if(notice.img){%>Update PDF <%} else {%> Add Image | PDF<%} %></a
          >
          <% } %> <% } }%>
        </div>
        <% }); %>
      </main>
    </div>

    <section class="fee-structure container" id="feestruct">
      <% const parts = fees.lastChanged.split(/[- :]/); %>

      <h2
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        Fees Structure
        <span style="font-size: 15px"
          ><%= parts[2] %> - <%= parts[1] %> - <%= parts[0] %></span
        >
      </h2>
      <table>
        <thead>
          Tution Fee
        </thead>
        <tr>
          <th>Class</th>
          <th>Admission Fee</th>
          <th>Monthly Fee</th>
        </tr>
        <tr>
          <td>Nursery - UKG</td>
          <td>₹<%=fees.tutionfee.nurUkg.addfee %></td>
          <td>₹<%=fees.tutionfee.nurUkg.monthly %></td>
        </tr>
        <tr>
          <td>Class I - V</td>
          <td>₹<%=fees.tutionfee.oneFive.addfee %></td>
          <td>₹<%=fees.tutionfee.oneFive.monthly %></td>
        </tr>
        <tr>
          <td>Class VI - VIII</td>
          <td>₹<%=fees.tutionfee.sixEight.addfee %></td>
          <td>₹<%=fees.tutionfee.sixEight.monthly %></td>
        </tr>
        <tr>
          <td>Class IX - X</td>
          <td>₹<%=fees.tutionfee.nineTen.addfee %></td>
          <td>₹<%=fees.tutionfee.nineTen.monthly %></td>
        </tr>
      </table>
      <table>
        <thead>
          Transports Fee
        </thead>
        <tr>
          <th>Distance</th>
          <th>Fees Per Months</th>
        </tr>
        <tr>
          <td>1KM-4KM</td>
          <td>₹<%=fees.transport.oneKm %></td>
        </tr>
        <tr>
          <td>5KM-10KM</td>
          <td>₹<%=fees.transport.fiveKm %></td>
        </tr>
        <tr>
          <td>11KM-15KM</td>
          <td>₹<%=fees.transport.elevenKm %></td>
        </tr>
        <tr>
          <td>16KM-20KM</td>
          <td>₹<%=fees.transport.sixteenKm %></td>
        </tr>
        <tr>
          <td>20KM+</td>
          <td>₹<%=fees.transport.twentyPlush %>+50 / 5KM</td>
        </tr>
      </table>
      <table>
        <thead>
          School Uniform
        </thead>
        <tr>
          <th>Dress Kit</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Regular Dress</td>
          <td><%=fees.schoolUniform.regular %></td>
        </tr>
        <tr>
          <td>Game Uniform</td>
          <td><%=fees.schoolUniform.gameUniform %></td>
        </tr>
        <tr>
          <td>Tie</td>
          <td><%=fees.schoolUniform.tie %></td>
        </tr>
        <tr>
          <td>Belt</td>
          <td><%=fees.schoolUniform.belt %></td>
        </tr>
        <tr>
          <td>ID card</td>
          <td><%=fees.schoolUniform.IDcard %></td>
        </tr>
        <tr title="If you want to from us">
          <td>Shoes & Socks Pair</td>
          <td><%=fees.schoolUniform.shoesSocks %></td>
        </tr>
      </table>
      <% if(!supAd){ %>
      <a href="/home/feeUpdate">Update Fees</a>
      <%} %>
    </section>

    <% if(supAd){ %>
    <a href="/home/admission/handeladmission/superadmin"
      >See all admission form</a
    >
    <a href="/home/contact/forms/superadmin">See all contact requests</a>
    <%}else {%>
    <a href="/home/admission/handeladmission/editor">See all admission form</a>
    <a href="/home/contact/forms/editor">See all contact requests</a>

    <%} %>
    <a href="/home/admission/handeladmission/allDone">New Student Details</a> -->


</body>

</html>