<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/gallery.css" />
    <script src="/script/gallery.js" defer></script>
    <title>Gallery</title>
    <style>
      .gallery-options {
        .active {
          background-color: #0a5e49;
        }
      }
    </style>
  </head>
  <body>
    <!-- NAV-->
    <%- include('index.ejs') %>

    <!-- HEADING -->
    <section class="gallery">
      <div class="gallery-overlay"></div>
      <div class="gallery-inner">
        <h1>Gallery</h1>
        <p class="subtitle">
          Our gallery shows learning, creativity, discipline, and values that
          shape our community.
        </p>
      </div>
    </section>

    <main>
      <!-- GALLERY OPTIONS -->
      <section class="gallery-heading container">
        <div class="gallery-options">
          <a href="#all" class="active">All</a>
          <a href="#abd">Arranged by Date</a>
          <a href="#abe">Arranged by Event Name</a>
        </div>

        <!-- GALLERY SECTION -->

        <section class="gallery-section all">
          <% images.forEach(img => {%>
          <div class="gallery-image-card">
            <img src="<%= img.img %>" alt="<%= img.title %>" />
            <div class="gallery-card-inner-text">
              <h3><%= img.title %></h3>
            </div>
          </div>
          <% }); %>
        </section>

        <!-- by date............................... -->
        <div class="bydate" style="display: none">
          <% if (typeof images !== 'undefined' && images && images.length > 0) {
          images = images.sort((a, b) =>
          a.EventDate.localeCompare(b.EventDate));%> <% let imgArr = []; let prv
          = ""; images.forEach((img, idx) => { if (prv) { if (prv ==
          img.EventDate) { imgArr[imgArr.length - 1].push(img); } else { prv =
          img.EventDate; imgArr.push([img]); } } else { prv = img.EventDate;
          imgArr.push([img]); } }); %> <% imgArr.forEach((imgs, idx) => { const
          date = imgs[0].EventDate.split('-'); %>

          <h1
            style="
              padding: 1rem 0.5rem;
              margin-top: 2rem;
              border-left: 2px solid;
              border-top: 2px solid;
              font-size: 2vmax;
              border-radius: 0 0 0 15px;
            "
          >
            Gallery | <%= `${date[2]}-${date[1]}-${date[0]}` %>
          </h1>
          <section class="gallery-section">
            <% imgs.forEach(img => {%>
            <div class="gallery-image-card">
              <img src="<%= img.img %>" alt="<%= img.title %>" />
              <div class="gallery-card-inner-text">
                <h3><%= img.title %></h3>
              </div>
            </div>
            <% }); %>
          </section>
          <% });} %>
        </div>

        <div class="byevename" style="display: none">
          <% if (typeof images !== 'undefined' && images && images.length > 0) {
          %> <% images = images.sort((a, b) => a.title.localeCompare(b.title));
          let imgArr = []; let prv = ""; images.forEach((img, idx) => { if (prv)
          { if (prv == img.title) { imgArr[imgArr.length - 1].push(img); } else
          { prv = img.title; imgArr.push([img]); } } else { prv = img.title;
          imgArr.push([img]); } }); %> <% imgArr.forEach((imgs, idx) => { %>
          <h1
            style="
              padding: 1rem 0.5rem;
              margin-top: 2rem;
              border-left: 2px solid;
              border-top: 2px solid;
              font-size: 2vmax;
              border-radius: 0 0 0 15px;
            "
          >
            Gallery | <%=imgs[0].title %>
          </h1>
          <section class="gallery-section">
            <% imgs.forEach(img => {%>
            <div class="gallery-image-card">
              <img src="<%= img.img %>" alt="<%= img.title %>" />
              <div class="gallery-card-inner-text">
                <h3><%= img.title %></h3>
              </div>
            </div>
            <% }); %>
          </section>
          <% });}%>
        </div>
        <!-- IMAGE POPUP  -->
        <div class="popup" id="popup">
          <div class="popup-container">
            <div class="close-btn">
              <img src="/images/close-icon.svg" alt="close-icon" />
            </div>
            <div class="pop-up-main-image">
              <img class="popup-img" src="" alt="popup image" />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <div class="footer-container">
        <div class="about-us">
          <h3>About Us</h3>
          <div>
            <p>
              St. Columbus Public School is a private English Medium School
              established for providing quality education to students up to High
              School level with a focus on values, discipline, and all-round
              development.
            </p>
          </div>
        </div>
        <div class="quick-links">
          <h3>Quick Links</h3>
          <div>
            <a href="/">Home</a>
            <a href="/">About Us</a>
            <a href="/">Admission</a>
            <a href="/">Gallery</a>
            <a href="/">Contact Us</a>
          </div>
        </div>

        <div class="follow-us">
          <h3>Follow Us</h3>
          <div>
            <a href="#"><i class="fab fa-youtube"></i> YouTube</a>
            <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#"><i class="fab fa-x-twitter"></i> X</a>
          </div>
        </div>

        <div class="contact-us">
          <h3>Contact Us</h3>
          <div>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <a
                href="https://maps.google.com/?q=St.+Columbus+Public+School,+Ekdara,+Jhajha,+Jamui+811308+(Bihar),+India"
              >
                St. Columbus Public School, Ekdara, &nbsp; &nbsp;&nbsp; Jhajha,
                Jamui 811308 (Bihar), India</a
              >
            </p>
            <p>
              <i class="fas fa-phone"></i>
              <a href="tel:+919812345678">+91-9876543210</a>,
              <a href="tel:+919812345678">+91-1122334455</a>
            </p>
            <p>
              <i class="fas fa-envelope"></i>
              <a
                href="https://mail.google.com/mail/?view=cm&fs=1&to=sudhanshu95084145@gmail.com&su=Hello&body=This%20is%20a%20default%20message"
                target="_blank"
                >info@gvpschool.edu.in</a
              >
            </p>
          </div>
        </div>
      </div>
      <p class="copy-right">
        <i class="far fa-copyright"></i> 2025 St. Columbus Public School. All
        rights reserved. | Developed by
        <a href="https://www.grabityservices.com" target="_blank"
          >GrabityServices</a
        >
      </p>
    </footer>

    <script>
      const as = document.querySelectorAll(".gallery-options a");
      const all = document.querySelector(".all");
      const bydate = document.querySelector(".bydate");
      const byevename = document.querySelector(".byevename");
      as.forEach((a, idx) => {
        a.addEventListener("click", () => {
          as.forEach((link) => link.classList.remove("active"));
          a.classList.add("active");
          const name = a.innerText;
          if (name === "All") {
            bydate.style.display = "none";
            byevename.style.display = "none";
            all.style.display = "block";
          } else if (name == "Arranged by Date") {
            bydate.style.display = "block";
            byevename.style.display = "none";
            all.style.display = "none";
          } else {
            bydate.style.display = "none";
            byevename.style.display = "block";
            all.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
