<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Notices | St. Columbus Public School</title>

  <!-- ICONS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

  <!-- STYLE -->
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/notices.css" />
  <link rel="stylesheet" href="/style/footer.css" />

  <!-- SCRIPT -->
  <script src="/script/notices.js" defer></script>

</head>
<body>
    <!--HEADER  -->
    <%- include('index.ejs') %>

    <!-- HEADING -->
    <section class="notices-heading">
      <div class="notices-overlay"></div>
      <div class="notices-inner">
        <h1>Notices & Announcements</h1>
        <p class="subtitle">
          All latest school notices, circulars, exam schedules and urgent
          updates for parents and students.
        </p>
      </div>
    </section>

    <main>
      <!-- NOTICE CONTAINER -->
      <section class="notice-container">
        <% if(notices && notices.length > 0){ notices.forEach((notice,idx)=>{ %>
        <div class="notice-card"style="border-color:<%= idx==0?"#0b6":"" %>">
          <h3><%= notice.title %></h3>
          <time datetime="<%= notice.messDate %>"><%= notice.messDate %></time>
          <p class="description"><%= notice.mess %></p>
<% if(notice && notice.img) {%>
            
          <!-- <a href="<%= notice.img  %>" download>See Notice</a> -->
          <a href="<%= notice.img %>" onclick="openAndDownload(event, this.href)">See Notice</a>


            <%}%>
        </div>
        <% }) } else { %>
        <h2 class="nboard">Notice board is empty!</h2>
        <% } %>
      </section>

      <!-- LOAD MORE BUTTON -->
      <section class="load-more">
        <% if(notices && notices.length>3){%>

        <button class="load-more-btn">Load More</button>
        <% } %>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('footer.ejs') %>

</body>
</html>
